
<!--
   Author: W3layouts
   Author URL: http://w3layouts.com
-->
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SPARTS</title>

    <!-- Template CSS--> 
    <link rel="stylesheet" href='{% static "assets/css/style-starter.css" %}'>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <!-- site icons -->
<link rel="icon" href='{% static "images/fevicon/fevicon.png" %}'  type="image/gif" /> 
<!-- bootstrap css -->
<link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' />
<!-- Site css -->
<link rel="stylesheet" href='{% static "css/style.css" %}' />
<!-- responsive css -->
<link rel="stylesheet" href='{% static "css/responsive.css" %}' />
<!-- colors css -->
<link rel="stylesheet" href='{% static "css/colors1.css" %}' />
<!-- custom css -->
<link rel="stylesheet" href='{% static "css/custom.css" %}' />
<!-- wow Animation css -->
<link rel="stylesheet" href='{% static "css/animate.css" %}' />
<!-- revolution slider css -->
<link rel="stylesheet" type="text/css" href='{% static "revolution/css/settings.css" %}' />
<link rel="stylesheet" type="text/css" href='{% static "revolution/css/layers.css" %}' />
<link rel="stylesheet" type="text/css" href='{% static "revolution/css/navigation.css" %}' />
  
  
</head>
  <body id="home">
<section class=" w3l-header-4 header-sticky">
	<!--header-->
	<header id="site-header" class="fixed-top">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-dark stroke">
				<a class="navbar-brand" href="{% url 'ind' %}">
					<span class="fa fa-cutlery"></span> SPARTS
				</a>
				<!-- if logo is image enable this   
			<a class="navbar-brand" href="#index.html">
				<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
			</a> -->
				<button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
					<span class="navbar-toggler-icon fa icon-close fa-times"></span>
					
				</button>
	  
				<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="{% url 'ind' %}">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item @@about__active">
              <a class="nav-link" href="{% url 'about' %}">About</a>
						</li>
            <li class="nav-item @@booking__active">
							<a class="nav-link" href="#">Booking</a>
						</li>

            {% if user.is_authenticated %}
            <li class="nav-item @@register__active">
              
							<a class="nav-link" href="{% url 'profile' %}">hello {{user.first_name}}</a>
						</li>
            <li class="nav-item @@register__active">
							<a class="nav-link" href="{% url 'logt' %}">Log-out</a>
						</li>
            {% else %}
            <li class="nav-item @@register__active">
              
							<a class="nav-link" href="{% url 'reg' %}">Register</a>
						</li>
            <li class="nav-item @@register__active">
							<a class="nav-link" href="{% url 'log' %}">Login</a>
						</li>
            {% endif %}
						<li class="nav-item @@contact__active">
							<a class="nav-link" href="{% url 'contact' %}">Contact</a>
						</li>
            <form action="{% url 'ser' %}" method="get" class="signin-form">
              {% csrf_token %}       
						<li class="nav-item ml-4">
								
                <div class="row book-form">
                    <div class="form-input col-lg-6 col-md-6">
                        <input type="text" name="search" placeholder="🔎Search" required="">
                    </div>
						</li>
            <li class="nav-item ml-4">
            <div class="bottom-btn col-md-4  mt-3">
              <button class="btn btn-danger">Go</button>
              </div>
              </li>
            </form>
					</ul>
				</div>
			</nav>
		</div>
	  </header>
	<!--/header-->
</section>

<script src='{% static "assets/js/jquery-3.3.1.min.js" %}'></script> <!-- Common jquery plugin -->
<!--bootstrap working-->
<script src='{% static "assets/js/bootstrap.min.js" %}'></script>
<!-- //bootstrap working-->

<script src='{% static "js/jquery.min.js" %}'></script>
<script src='{% static "js/bootstrap.min.js" %}'></script>
<!-- menu js -->
<script src='{% static "js/menumaker.js" %}'></script>
<!-- wow animation -->
<script src='{% static "js/wow.js" %}'></script>
<!-- custom js -->
<script src='{% static "js/custom.js" %}'></script>
<!-- revolution js files -->
<script src='{% static "revolution/js/jquery.themepunch.tools.min.js" %}'></script>
<script src='{% static "revolution/js/jquery.themepunch.revolution.min.js" %}'></script>
<script src='{% static "revolution/js/extensions/revolution.extension.actions.min.js" %}'></script>
<script src='{% static "revolution/js/extensions/revolution.extension.carousel.min.js" %}'></script>
<script src='{% static "revolution/js/extensions/revolution.extension.kenburn.min.js" %}'></script>
<script src='{% static "revolution/js/extensions/revolution.extension.layeranimation.min.js" %}'></script>
<script src='{% static "revolution/js/extensions/revolution.extension.migration.min.js" %}'></script>
<script src='{% static "revolution/js/extensions/revolution.extension.navigation.min.js" %}'></script>
<script src='{% static "revolution/js/extensions/revolution.extension.parallax.min.js" %}'></script>
<script src='{% static "revolution/js/extensions/revolution.extension.slideanims.min.js" %}'></script>
<script src='{% static "revolution/js/extensions/revolution.extension.video.min.js" %}'></script>
<!-- map js -->

<!--/MENU-JS-->
<script>
	$(window).on("scroll", function () {
	  var scroll = $(window).scrollTop();
  
	  if (scroll >= 80) {
		$("#site-header").addClass("nav-fixed");
	  } else {
		$("#site-header").removeClass("nav-fixed");
	  }
	});
  
	//Main navigation Active Class Add Remove
	$(".navbar-toggler").on("click", function () {
	  $("header").toggleClass("active");
	});
	$(document).on("ready", function () {
	  if ($(window).width() > 991) {
		$("header").removeClass("active");
	  }
	  $(window).on("resize", function () {
		if ($(window).width() > 991) {
		  $("header").removeClass("active");
		}
	  });
	});
  </script>
  <!--//MENU-JS-->
<!-- disable body scroll which navbar is in active -->
<script>
$(function () {
  $('.navbar-toggler').click(function () {
    $('body').toggleClass('noscroll');
  })
});
</script>

<div class="content-area">

    <div id="main">
    <!-- SLIDER -->
    <section class="page-section no-padding background-img-slider">
        <div class="container">

        <div id="main-slider" class="owl-carousel owl-theme">

            <!-- Slide -->
            <div class="item page text-center slide0">
                <div class="caption">
                    <div class="container">
                        <div class="div-table">
                            <div class="div-cell">
                                <!--<h2 class="caption-title" data-animation="fadeInDown" data-animation-delay="100"><span>January 17-19, 2015</span></h2>
                                <h3 class="caption-subtitle" data-animation="fadeInUp" data-animation-delay="300"><i class="fa fa-angle-left"></i> PHP Conference ın Istanbul <i class="fa fa-angle-right"></i></h3>
                                <div class="countdown-wrapper">
                                    <div id="defaultCountdown" class="defaultCountdown clearfix"></div>
                                </div>-->
                                <p class="caption-text">
                                    <a class="btn btn-theme btn-theme-xl scroll-to" href="{% url 'registration' %}" data-animation="flipInY" data-animation-delay="600"> Register <i class="fa fa-arrow-circle-right"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mx-auto p-2 text-center"  style="box-shadow:0px 0px 10px gray;">
                <img src="{% static 'images/failed.gif' %}" height="200" width="200">
                <br>
                <h1 class="alert alert-danger">PAYMENT FAILED </h1>
                <div class="my-1">
                    <a href="{% url 'crt' %}" class="btn btn-success">Continue Shopping</a>
                    
                </div>
    
            </div>



        </div>
        </div>

    </section>
    <!-- /SLIDER -->
    </div>
</div>


<section class="w3l-footer-29-main">
	<div class="footer-29 py-5 text-center">
	  <div class="container">
		<div class="footer-list-29 footer-1 ">
				<h2><a href="{% url 'ind' %}" class="footer-logo"> SPARTS </a></h2>
				<p class="para">We are here to deliver you best and verified products.</p>
	
		  </div>
		<div class="row footer-top-29">

		  <div class="col-lg-4 col-md-4 col-sm-6 footer-list-29 footer-2 ">
				<h6 class="footer-title-29">Address</h6>
				<ul>
					<li><p><span class="fa fa-map-marker"></span> Dayal Residency, Chinhat, Noida</p></li>
				</ul>
		  </div>
		  <div class="col-lg-4 col-md-4 col-sm-6 footer-list-29 footer-2 ">
				<h6 class="footer-title-29">Opening Hours</h6>
				<ul>
						<li><p><span>Mon-Fri:</span> 9AM-5PM</p></li>
					<!--<li><p><span>Sat-Sun:</span> 10AM-1PM</p></li>-->
				</ul>
		  </div>
		  <div class="col-lg-4 col-md-4 col-sm-6 footer-list-29 footer-2 ">
				<h6 class="footer-title-29">Contact Us</h6>
				<ul>
					<li><a href="phone number:+916307905714"><span class="fa fa-phone"></span> +916307905714</a></li>
					<li><a href="mailto:mdpal630@gmail.com" class="mail"><span class="fa fa-envelope-open-o"></span> mdpal630@gmail.com</a></li>
				</ul>
		  </div>
		</div>
	</div>
  </section>
  <section class="w3l-footer-29-main w3l-copyright">
	<div class="container">
	  <div class=" bottom-copies text-center">
		<p class="copy-footer-29">SPARTS 2023 Design by html.design | </p>
	  </div>
	</div>
  </section>
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
	<span class="fa fa-long-arrow-up"></span>
</button>
<script>
	// When the user scrolls down 20px from the top of the document, show the button
	window.onscroll = function () {
		scrollFunction()
	};

	function scrollFunction() {
		if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
			document.getElementById("movetop").style.display = "block";
		} else {
			document.getElementById("movetop").style.display = "none";
		}
	}

	// When the user clicks on the button, scroll to the top of the document
	function topFunction() {
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
	}
</script>
<!-- /move top -->
</body>

</html>
